*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;  

}
body{
  background-color: hsl(217, 28%, 15%);
}
main {
  background-image: 
    url('./images/bg-curvy-desktop.svg'),
    linear-gradient(to bottom, 
      transparent 550px,           /* transparent at top till 550px*/
      transparent 500px,        /* transparent until 500px */
      hsl(218, 28%, 13%) 400px  /* color starts at 400px */
    );
  
  background-size: 100% auto, 100% 100%;
  background-position: center 10%, center 10%;
  background-repeat: no-repeat;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }